{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>

    {% if post.award %}
      <p style="margin:0.2em 0 0.4em;"><span style="background:#fff3cd; color:#856404; border:1px solid #ffc107; border-radius:3px; padding:0.15em 0.5em; font-size:0.8em; font-weight:600;">&#127942;&nbsp;{{ post.award }}</span></p>
    {% endif %}

    <p class="page__meta" style="margin:0.3em 0;">
      <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>&nbsp;{{ post.date | date: '%B %Y' }}
      &nbsp;&middot;&nbsp;
      <em>{{ post.type }}</em>
      &nbsp;&middot;&nbsp;
      {{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}
    </p>

    {% if post.note %}
      <p style="margin:0.2em 0; font-size:0.88em; color:#666; font-style:italic;">{{ post.note }}</p>
    {% endif %}

    <p style="margin:0.4em 0 0;">
      {% if post.doiurl %}<a href="{{ post.doiurl }}" target="_blank" class="btn btn--inverse btn--small"><i class="fas fa-fw fa-link" aria-hidden="true"></i>&nbsp;DOI</a>{% endif %}
      {% if post.paperurl %}<a href="{{ post.paperurl }}" target="_blank" class="btn btn--inverse btn--small"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i>&nbsp;PDF</a>{% endif %}
      {% if post.arxivurl %}<a href="{{ post.arxivurl }}" target="_blank" class="btn btn--inverse btn--small"><i class="fas fa-fw fa-file-alt" aria-hidden="true"></i>&nbsp;arXiv</a>{% endif %}
      {% if post.slidesurl %}<a href="{{ post.slidesurl }}" target="_blank" class="btn btn--inverse btn--small"><i class="fas fa-fw fa-chalkboard-teacher" aria-hidden="true"></i>&nbsp;Slides</a>{% endif %}
      {% if post.posterurl %}<a href="{{ post.posterurl }}" target="_blank" class="btn btn--inverse btn--small"><i class="fas fa-fw fa-image" aria-hidden="true"></i>&nbsp;Poster</a>{% endif %}
    </p>

  </article>
</div>
